html {
	width: 100%;
	height: 100%;
}

input:focus {
	outline: none;
}

body {
	-webkit-perspective: 300px;
	background: #ffffff;
	color: #0c0c0c;
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-weight: 500;
	font-size: 26px;
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

#eelcontainer {
	position: absolute;
	width: 320px;
	height: 240px;
	overflow: hidden;
	top: -28px;
	left: -7px;
}

#loader {
	position: absolute;
	width: 320px;
	height: 240px;
	left: 0px;
	top: 0px;
	text-align: center;
	z-index: 200;
	font-size: 50px;
	color: #ffffff;
	background-image: url(../images/loader.jpg);
}

#introtext {
	position: absolute;
	width: 640px;
	height: 60px;
	left: 0px;
	top: 226px;
	text-align: center;
	z-index: 220;
	font-size: 30px;
	color: #ffffff;
	display: none;
	opacity: 0;
}

#allimages {
	position: absolute;
	display: none;
	opacity: 0;
}

.eelimages {
	position: absolute;
}

/*#eelimage1 {
	left: 0;
}

#eelimage2 {
	left: 27520px;
}*/

#eelimage1 {
	left: 0;
}

#eelimage2 {
	left: 7680px;
}

#eelimage3 {
	left: 15040px;
}

#eelimage4 {
	left: 22720px;
}

a {
    color: #3f6178;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

.social {
	margin-bottom: 0px;
}

#eelslap { 
	height: 100%; 
	font-size: 15px;	
}
