@charset "utf-8";
/* CSS Document */

.monstercontainer {
	z-index: -1;
	height: 670px;
	width: 586px;
	background-position: center top;
	background-image: url(../images/monster.png);
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 0px;
	top: 0px;
}
.backdrop {
	z-index: -1;
	background-image: url(../images/backdrop.jpg);
	background-position: right top;
	height: 936px;
	width: 1935px;
	position: absolute;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.likecontainer {
	width: 450px;
	height: 200px;
	background-attachment: fixed;
	background-image: url(../images/like.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
